@media screen and (min-width: 769px)and (max-width: 1279px) {

.wrap{
  flex-direction: column;
  margin: auto 24px;
  gap: 40px;
}
  .card{
width: 348px;
  }
  .first-line{
      gap: 24px;
  }
  .second-line{
      gap: 24px;
  }

}
